@inherits LayoutComponentBase
@inject NavigationManager Navigation

@code {
    private bool IsRegisterPage => Navigation.Uri.Contains("/register");
}

<div class="page">
    @if (!IsRegisterPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (!IsRegisterPage)
        {
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
